name: testing-client CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Create .env file
      run: |
        printf "%s" "${{ secrets.REACT_ENV_VARS }}" > .env

    - name: Build React App
      run: CI=false npm run build --if-present

    - name: Deploy to VPS (move build output)
      run: |
        sudo rm -rf /home/chamalka/apps/release-client/*
        sudo cp -r build/* /home/chamalka/apps/release-client/


    - name: Restart NGINX
      run: sudo systemctl restart nginx
